.About
	margin 0 auto
	width 90%
	min-height 95vh
	&-info
		border-bottom 1px solid white
	&-name
		margin 0
		color white
	&-soc
		display flex
		justify-content space-between
		list-style none
		margin 0 0 1em 0
		padding 0
		a
			text-decoration none
	&-me
		color white
		width 75%
	&-desc
		display flex
		flex-direction column
		align-items center
		margin-top 1.5em
	&-title
		align-self flex-start
		font-weight bolder
	&-avatar
		max-width 100px
		margin 10px
		img
			border-radius 50%
			width 100%