div(class="About")
	div(class="About-info")
		h1(class="About-name") Eder González
		ul(class="About-soc")
			a(href="https://twitter.com/ederyairr" class="u-greenText" target="_blank") 
				li Twitter
			a(href="https://github.com/ederglz" class="u-greenText" target="_blank") 
				li Github
			a(href="https://www.linkedin.com/in/ederglz" class="u-greenText" target="_blank") 
				li Linkendin
	div(class="About-desc")
		span(class="About-title u-greenText") Frontend Developer
		figure(class="About-avatar")
			img(src="./public/images/avatar.jpg")
		div(class="About-me")  I'm a Frontend Developer placed in Mexico City. I am able to work effectively in a team or on my Own. I enjoy a challenge and look for the opportunity to expand and develop my skill set.