div(class="About")
	div(class="About-info")
		h1(class="About-name") Eder González
		ul(class="About-soc")
			a(href="#" class="u-greenText") 
				li Twitter
			a(href="#" class="u-greenText") 
				li Github
			a(href="#" class="u-greenText") 
				li Linkendin
	div(class="About-desc")
		span(class="About-title u-greenText") Frontend Developer
		figure(class="About-avatar")
			img(src="./public/images/avatar.jpg")
		div(class="About-me")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, doloremque voluptas quaerat ullam nisi fugiat accusamus unde quo eaque eligendi! Excepturi accusantium possimus, praesentium expedita nihil quas quo voluptatum perspiciatis.