div(class="Layout-Main-about-img u-inline-block")
	figure(class="Layout-Main-about-imageContainer")
		img(class="Layout-Main-about-image",src="./public/images/avatar.png", alt="")
div(class="Layout-Main-about-desc u-inline-block")
	h2(class="Layout-Main-title") Hi!
	p(class="Layout-Main-bio") I'm a 19 y.o Frontend Developer from Mexico City and I love the web