div(class="About")
	div(class="About-info")
		h1(class="About-name") Eder González
		ul(class="About-soc greenTextB")
			a(href="https://twitter.com/ederyairr" class="u-greenTextB" target="_blank")
				li Twitter
			a(href="https://github.com/ederglz" class="u-greenTextB" target="_blank")
				li Github
			a(href="https://www.linkedin.com/in/ederglz" class="u-greenTextB" target="_blank")
				li Linkendin
	div(class="About-desc")
		span(class="About-title u-greenTextB") Frontend Developer
		figure(class="About-avatar")
			img(src="./public/images/avatar.jpg")
		span(class="About-quote") Pleased to meet you, hope you guess my name...
		span(class="About-hidden u-greenTextB") I'm a Frontend Developer placed in Mexico City. I am able to work effectively in a team or on my own. I enjoy a challenge and look for the opportunity to expand and develop my skill set.
		span(class="icon-plus")
