@import 'fonts.styl'
@import 'normalize.styl'
redA = #CA5454
whiteA = #EAE6E7
whiteB = #CFF9F1
greenA = #28A228
blackA = #15191D
blackB = #0A0C0E
greyA = #6C6D6E
pinkA = #D81C61
background-image(url='', repeat='', size='', position='',attachment='')
	background-image url(url)
	background-repeat repeat
	background-position position
	background-size size
	if attachment
		background-attachment attachment

body
	font-size 16px
	font-family 'Raleway'
	height 100%
.About
	background-color blackA
	margin-top 1em
	overflow hidden
	&-picture
	&-description
		width 50%
		color greyA
		margin 1em
	&-title
		margin-bottom 1em
		padding-top 2em
	&-img-container
		width 100%
.Contact
	background-color blackB
	&-title
		padding-top 1em
	&-form-item
		display block
		margin 1em auto
		font-size 1.2em
		width 300px
	&-form-submit
		background-color greenA
		border none
		color whiteA
		padding 1em
		width 300px
		margin-bottom 1em
.Header
	background-image('../images/header.jpg', no-repeat,cover,50%)
	overflow hidden
	width 100%
	height 100%
	&-title
		font-size 4em
	&-description
		color redA
		font-size 2em
		margin-top 1em
	&-wrapper
		background-color rgba(72, 183, 197, 0.2)
		margin-top 20%
.Menu
	&-item
		border 2px solid greenA
		color whiteB
		display inline-block
		font-size 1.2em
		margin 1em 1.5em 1em 0
		padding 1em
		transition .5s ease
		&:hover
		&:active
			background-color greenA
			color whiteA
			transform scale(1,.9)
.Projects
	position relative
	&-title
		padding 2em 0
	&-project
		&-img
			margin 1em 0
			&-container
				width 50%

.img
	width 100%
.text-shadow
	text-shadow 1px 2px 8px blackA
.title-white
	color whiteA
.u-inlineblock
	display inline-block
.u-greentext
	color greenA
.u-center
	text-align center
	margin 0 auto
@media (min-width: 1000px)
	.Header
		background-image('../images/header.jpg', no-repeat,cover,50%, fixed)
	.About
		&-picture
			width 43%
		&-description
			vertical-align top