div(class="Project")
	figure(class="Project-image")
			a(href=""+link target="_blank")
				img(src="./public/images/" +image)
	div(class="Project-actions")
		span(class="icon-plus" id =""+selector)
		a(href=""+link class="Project-name" target="_blank")=name 
	div(class="Project-info "+selector)=info
		ul(class="Project-links")
			a(href=""+rep class="u-greenText" target="_blank")
				li Repository
			a(href=""+link class="u-greenText" target="_blank")
				li Web Page