.Layout
	position absolute
	bottom 50%
	left 0
	right 0
	text-align center
	&-links
		display flex
		flex-wrap wrap
		justify-content space-between
		width 231px
		margin 0 auto
	&-link
		border 1px solid black
		padding 0.5rem
.image
	width 100px
	height 100px
.circle
		border-radius 100%
.Name
	&-desc
		color #968b8b
		font-size 1.3rem
.center
	margin 0 auto
	width 70%
