div(class="Layout")
	//- header(class="Layout-header")
	//- 	include ../header/template.jade
	div(class="Layout-about")
		include ../about/template.jade
	div(class="Layout-work")
		include ../work/template.jade