div(class="Layout")
	div(class="Layout-about")
		include ../about/template.jade
	div(class="Layout-work")
		include ../work/template.jade
	footer(class="Layout-footer")
		include ../footer/template.jade