div(class="Wrapper u-textCenter")
	header(class="Layout-Header")
		include ../header/template.jade
	section(class="Layout-Main u-textCenter")
		include ../main/template.jade
	footer(class="Layout-Footer")
		include ../footer/template.jade