.Work
	background-color #EAEAEA
	padding-top 1em
	&-title
		margin 0
	&-image
		margin 10px
		width 60%
		img
			border-radius 50%
			width 100%
	&-project
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding-bottom 1em
		background-color white
		width 90%
		margin 0 auto
	&-info
		margin 10px auto
		text-align center
	&-actions
		display flex
		justify-content space-between
		a
			color grayA
			text-decoration none
			font-weight bolder