div(class="Work")
	h2(class="Work-title") Lastest Projects
	div(class="Work-project")
		- name = 'Get Discography'
		- info = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolores aliquam eveniet architecto, dolorum sequi, eum officiis placeat expedita dolorem, tempore delectus eius animi consectetur! Quidem adipisci tempora quos sunt.'
		- image = 'yo.jpg'
		- link = 'http://ederglz.github.io/GetDiscography'
		- rep ='https://github.com/ederglz/GetDiscography'
		include ../project/template.jade