div(class="Work")
	h2(class="Work-title") Lastest Projects
	div(class="Work-project")
		- name = 'Get Discography'
		- info = 'Type the name of any artist and will provide you a list containing each album.'
		-stack = ['Backbone.js', 'iTunes API', 'Jade', 'Stylus', 'Underscore.js']
		- image = 'disc.jpg'
		- link = 'http://ederglz.github.io/GetDiscography'
		- rep ='https://github.com/ederglz/GetDiscography'
		-selector='disc'
		include ../project/template.jade
		- name = 'Best Tweets by user'
		- info = 'Type the name of any twitter user and will give you the top 20 tweets.'
		-stack = ['Twitter API', 'Yahoo Query Language', 'Jade', 'Stylus']
		- image = 'twt.jpg'
		- link = 'http://ederglz.github.io/bestTweets'
		- rep ='https://github.com/ederglz/bestTweets'
		-selector='twt'
		include ../project/template.jade
		- name = 'Mark as Watched on Putlocker'
		- info = 'Chrome extension that makes you able to mark as watched any episode on Putlocker.is'
		-stack = ['Chrome extension','Javascript']
		- image = 'put.gif'
		- link = 'http://bit.ly/2b4tZFN'
		- rep ='https://github.com/ederglz/putlocker-check'
		-selector='put'
		include ../project/template.jade
