ul(class="Layout-Footer-list")
	li(class="Footer-item")
		a(href="https://github.com/ederyair" class="u-specialLink u-specialLink--github") Github
	li(class="Footer-item")
		a(href="https://twitter.com/ederyairr" class="u-specialLink u-specialLink--twitter") Twitter
	li(class="Footer-item")
		a(href="https://mx.linkedin.com/pub/eder-yair-negrete-gonzález/97/161/4b8" class="u-specialLink u-specialLink--linkedin") Linkedin