div(class="Footer")
	h2(class="Footer-title") Contact me
	ul(class="Footer-contact")
		li 
			a(href="mailto:ederyairnglz@gmail.com" class="u-greenText icon-mail")
		li 
			a(href="https://www.linkedin.com/in/ederglz" class="u-greenText icon-linkedin" target="_blank")
		li 
			a(href="https://twitter.com/ederyairr" class="u-greenText icon-twitter" target="_blank")