grayA = #444647
greenA = #6AA19B
figure
	margin 0
html body
	height 100%
body
	background-image url('../images/background.png')
	font-family 'Muli'
	margin 0
.u-greenText
	color greenA
@import 'fonts.styl'
@import './layout/styles.styl'
@import './about/styles.styl'
@import './header/styles.styl'
@import './work/styles.styl'