grayA = #444647
greenA = #6AA19B
figure
	margin 0
html body
	height 100%
	margin 0
	padding 0
body
	background-image url('../images/background.png')
	font-family 'Muli'
.u-greenText
	color greenA
@media screen and (min-width: 1000px)
	.About
		font-size 32px
		&-soc
			max-width 400px
	.Work
		&-project
			flex-wrap initial
@import 'fonts.styl'
@import './layout/styles.styl'
@import './about/styles.styl'
@import './header/styles.styl'
@import './work/styles.styl'
@import './project/styles.styl'