@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?pj9uxq')
  src url('../fonts/icomoon.eot?pj9uxq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?pj9uxq') format('truetype'),
        url('../fonts/icomoon.woff?pj9uxq') format('woff'),
        url('../fonts/icomoon.svg?pj9uxq#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-plus
  margin-left -34px
  margin-right 10px
  cursor pointer
  &:before
    content "\e900"
    color greenA
    font-size 22px
.icon-mail
  &:before
    content "\e902"
.icon-twitter
  &:before
    content "\e901"
.icon-linkedin
  &:before
    content "\eac9"