div(class="Layout-Main-job")
	div(class="Layout-Main-job-image u-inline-block")
		figure(class="Layout-Main-work-imageContainer")
			img(src="./public/images/"+image, alt="")
	div(class="Layout-Main-job-desc u-inline-block")
		h3=title
		p(class="Layout-Main-work-description")=desc
		a(class="Layout-Main-work-link u-specialLink" target="_blank" href=""+site) Visit Site 
		a(class="Layout-Main-work-link u-specialLink" target="_blank" href=""+repo) Repo