.Layout-Main
	&-about
		&-imageContainer
			margin()
			height 288px
			width 288px
			img
				border-radius 50%
	&-work
		&-description
			display block
			margin-top 1em
		&-imageContainer
			margin(20px)
			height 400px
			width 200px
			