div(class="Layout-Main-about")
	include ../about/template.jade
div(class="Layout-Main-work")
	h2(class="Layout-Main-work-title") Some Personal projects
	div(class="Layout-Main-job")
		each val in [1,2]
			if val == 1
				- title = "Soccer Matches"
				- desc = "Web App to see the soccer matches of the day"
				- site = "http://ederyair.github.io/soccer/"
				- repo = "https://github.com/ederyair/soccer"
				- image = "soccer.png"
			else
				- title = "Get Discography"
				- desc = "Web App to get the discography of your favorite artist"
				- site = "http://ederyair.github.io/GetDiscography/"
				- repo = "https://github.com/ederyair/GetDiscography"
				- image = "discography.png"
			include ../jobs/template.jade